body {
    background-color: #d5e4e6;
    margin: 0%;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    
}
.center{
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #072c30;
    margin-bottom: 3px;
}
.About p{
    margin-top: 3px;
    margin-bottom: 30px;
}
.About{
    margin-top: 5px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    padding: 10px 20px;
}
.logo {
    font-size: 24px;
    color: #072c30;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    color: #072c30;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    display: block;
}
.nav-links a:hover {
    
    color:white;
    border-radius: 4px;
}
.card,.card1{
    text-align: center;
}
.card img{
    padding-right: 20px;
    float: left;
    border-radius: 100px;
    width: 80px;
    margin: auto;
    margin-left: 20px;
}
.card p{
    margin-top: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card h4{
    margin-bottom: 0px;
}
.card1 img{
    padding-right: 25px;
    float: left;
    border-radius: 100px;
    width: 70px;
    padding-left: 5px;
    margin: auto;
    margin-left: 20px;
}
.card1 p{
    margin-top: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card1 h4{
    margin-bottom: 0px;
}
.form_container{
    text-align: center;
    justify-content: center;
    margin:10px;
}
table{
    text-align: center;
    
}
form{
    margin-top: 0px;
    
}
input{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #a09d9d;
    border-radius: 5px;
    font-size: 14px;
    
}
input:focus{
    border-color: #6a82fb;
    box-shadow: 0 0 5px rgba(106, 130, 251, 0.5);
    outline: none;
}
textarea{
    height:4cm;
    width: 618px;
    padding: 15px;
    border: 1px solid #a09d9d;
    border-radius: 5px;
    font-size: 14px;
}
button{
    background-color: #3498db;
    outline: #0f1866;
    color:white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 13.5cm;
}
button:hover{
    color: #0f1866;
    background-color: white;
}
textarea:focus {
    border-color: #6a82fb;
    box-shadow: 0 0 5px rgba(106, 130, 251, 0.5);
    outline: none;
}
.footer-container {
    color: #072c30;
    justify-content: right;
    background-color: #3498db;
    display:flex;
    padding-left: 20px ;

}
